force-app/main/default/flows/apex_screen_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Run_Apex</name>
        <label>Run Apex</label>
        <locationX>519</locationX>
        <locationY>255</locationY>
        <actionName>CruiseRoomUI</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>cruiseShipid</name>
            <value>
                <elementReference>singleCruiseId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>howMany</name>
            <value>
                <elementReference>how_many_room_do_you_want_to_create</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>passangerPrice</name>
            <value>
                <elementReference>Passenger_Price</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>roomCapacity</name>
            <value>
                <elementReference>Room_Capacity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>roomType</name>
            <value>
                <elementReference>selectroomtype</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <dynamicChoiceSets>
        <name>RoomType</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <limit>50</limit>
        <object>Room_Type__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>apex screen flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>apex screen flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>sren</name>
        <label>sren</label>
        <locationX>204</locationX>
        <locationY>225</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Run_Apex</targetReference>
        </connector>
        <fields>
            <name>firstScreenText</name>
            <fieldText>&lt;p&gt;this screen can br used for bulk room creation .Id gir :{!singleCruiseId}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>how_many_room_do_you_want_to_create</name>
            <dataType>Number</dataType>
            <fieldText>how many room do you want to create</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;do not negative sttemnet&lt;/p&gt;</errorMessage>
                <formulaExpression>{!how_many_room_do_you_want_to_create}&gt;0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>selectroomtype</name>
            <choiceReferences>RoomType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>selectroomtype</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Room_Capacity</name>
            <dataType>Number</dataType>
            <fieldText>Room Capacity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;do not use zero or negaive number&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Room_Capacity}&gt;0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Passenger_Price</name>
            <dataType>Currency</dataType>
            <fieldText>Passenger Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;do not or negative price&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Passenger_Price}&gt;0</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>sren</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>multiRoom</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cruise_Room__c</objectType>
    </variables>
    <variables>
        <name>singleCruiseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varsingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cruise_Room__c</objectType>
    </variables>
</Flow>
