force-app/main/default/flows/CruiseShip.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assinment</name>
        <label>assinment</label>
        <locationX>658</locationX>
        <locationY>320</locationY>
        <assignmentItems>
            <assignToReference>varsingle.Capacity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Room_Capacity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsingle.paasenger_price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Passenger_Price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsingle.Cruise__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>singleCruiseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsingle.Room_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectroomtype</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>multiRoom</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varsingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>fakeloop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>fakeloop</name>
        <label>fakeloop</label>
        <locationX>427</locationX>
        <locationY>330</locationY>
        <defaultConnector>
            <targetReference>assinment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>not equal</defaultConnectorLabel>
        <rules>
            <name>how_many_is_equal_with_counter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>how_many_room_do_you_want_to_create</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>counter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createRmultiRoom</targetReference>
            </connector>
            <label>how many is equal with counter</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>RoomType</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <limit>50</limit>
        <object>Room_Type__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>CruiseShip {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CruiseShip</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createRmultiRoom</name>
        <label>createRmultiRoom</label>
        <locationX>429</locationX>
        <locationY>489</locationY>
        <inputReference>multiRoom</inputReference>
    </recordCreates>
    <screens>
        <name>sren</name>
        <label>sren</label>
        <locationX>181</locationX>
        <locationY>216</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>fakeloop</targetReference>
        </connector>
        <fields>
            <name>firstScreenText</name>
            <fieldText>&lt;p&gt;this screen can br used for bulk room creation .Id gir :{!singleCruiseId}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>how_many_room_do_you_want_to_create</name>
            <dataType>Number</dataType>
            <fieldText>how many room do you want to create</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>selectroomtype</name>
            <choiceReferences>RoomType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>selectroomtype</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Room_Capacity</name>
            <dataType>Number</dataType>
            <fieldText>Room Capacity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Passenger_Price</name>
            <dataType>Currency</dataType>
            <fieldText>Passenger Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>sren</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>multiRoom</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cruise_Room__c</objectType>
    </variables>
    <variables>
        <name>singleCruiseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varsingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cruise_Room__c</objectType>
    </variables>
</Flow>
