force-app/main/default/flows/Yacht_Book_Of_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Opportunity_check</name>
        <label>Opportunity check</label>
        <locationX>374</locationX>
        <locationY>354</locationY>
        <defaultConnector>
            <targetReference>uptade_opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>UPTADE OPPORTUNİTY</defaultConnectorLabel>
        <rules>
            <name>Create_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_opp</targetReference>
            </connector>
            <label>Create New</label>
        </rules>
    </decisions>
    <interviewLabel>Yacht Book Of Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Yacht Book Of Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_opp</name>
        <label>create opp</label>
        <locationX>714</locationX>
        <locationY>319</locationY>
        <connector>
            <targetReference>Update_Yacht_Booking</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Contact__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>$Record.total_price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Record.check_in__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Contact__r.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Yacht_Booking</name>
        <label>Update Yacht Booking</label>
        <locationX>959</locationX>
        <locationY>322</locationY>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>create_opp</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>uptade_opportunity</name>
        <label>uptade opportunity</label>
        <locationX>372</locationX>
        <locationY>520</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>$Record.total_price__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>195</locationX>
        <locationY>33</locationY>
        <connector>
            <targetReference>Opportunity_check</targetReference>
        </connector>
        <object>yacht_bookingg__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
